{% extends 'base.html.twig' %}

{% block title %}Hello PeintureController!{% endblock %}

{% block body %}
<section class="artist-section">
    <div class="artist-container">
        <div class="artist-description">
            <div>
                <p>
                    Mes toutes dernières réalisation
                </p>
            </div>
        </div>
        <div class="artist-content">
            {% for peinture in peintures %}
            <div class="artwork">
                <a href="{{ path('realisations_details', {'slug': peinture.slug}) }}">
                    <img class="artwork-image" src="{{ vich_uploader_asset(peinture, 'imageFile') }}" alt="{{ peinture.nom }}">
                </a>
                <a href="{{ path('realisations_details', {'slug':peinture.slug}) }}">
                    <h3>{{peinture.nom}}</h3>
                    <p>{{peinture.description|u.truncate(200, '...', false)}}</p>
                </a>
                <a href="{{ path('realisations_details', {'slug':peinture.slug}) }}">
                    <hr>
                    <p>
                        <time>Ajoutée le {{ peinture.createdAt|date('d/m/Y') }}</time>
                    </p>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

